.btn-highscore {
    margin-top: 5px;
}

.highscore-table {
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
}

.highscore-table>thead>tr>td {
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: bolder;
}


.highscore-table>tbody>tr>td {
    border-right: 1px solid black;
    width: 200px
}

.highscore-table-head {
    border-bottom: 1px solid black;
}